<div class="autocomplete-box">

    {% for item in results %}

        <button class="autocomplete-item"
                type="button"
                onclick="document.getElementById('search').blur()"
                hx-get="/{{ 'tv' if item.media_type == 'tv' else 'movie' }}/{{ item.id }}"
                hx-target="body">

            <span class="media-icon">
                {% if item.media_type == "movie" %}
                    🎬
                {% else %}
                    📺
                {% endif %}
            </span>

            <div class="autocomplete-info">

                <strong class="autocomplete-title">
                    {{ item.title or item.name }}
                </strong>

                <small class="autocomplete-year">
                    {{ (item.release_date or item.first_air_date or '')[:4] }}
                </small>

            </div>

        </button>

    {% endfor %}

</div>