{% extends "base.html" %}

{% block content %}

<h1>🎬 WatchFinder</h1>

<p class="subtitle">Find where to stream movies and TV shows</p>

<form class="search-form"
      hx-get="/search"
      hx-swap="innerHTML"
      hx-target="#results">

    <input name="query"
       id="search"
       placeholder="Search movies or TV shows..."
       autocomplete="off"
       required

       hx-get="/autocomplete"
       hx-trigger="keyup changed delay:200ms"
       hx-target="#autocomplete"
       hx-swap="innerHTML">

    <button type="submit">Search</button>
</form>
<div id="autocomplete"></div>
{% endblock %}