{% extends "base.html" %}

{% block content %}
{% include "partials/top_nav.html" %}
<h1>🔎 Search</h1>

<p class="subtitle">
    Find where to stream movies and TV shows.
</p>


<div class="search-container">

    <form class="search-form"
      hx-get="/api/search"
      hx-target="#results"
      hx-swap="innerHTML">

    <div class="input-wrapper">

        <input
            name="query"
            id="search"
            placeholder="Search movies or TV shows..."
            autocomplete="off"
            required

            hx-get="/autocomplete"
            hx-trigger="input changed delay:200ms"
            hx-target="#autocomplete"
            hx-swap="innerHTML"
        >

        <div id="autocomplete"></div>

    </div>

    <button type="submit" class="search-button">
        Search
    </button>

</form>
<div id="results"></div>
</div>
{% endblock %}